:root {
  --titulo: 'Poppins', sans-serif;
  --texto: 'Josefin Sans', sans-serif;
  --menu: 'Montserrat', sans-serif;
  --color-principal: #ff5b44;
  --color-secundario: #ffba47;
  --color-oscuro: #0b0803;
  --color-claro: #fff;
}

/*
#ff5b44
#ffba47
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-secundario);
  text-decoration: none;
  font-family: var(--menu);
}

main {
  width: 100%;
  height: auto;
}

.imagenParrafo img {
  width:100%;
  height: auto;
}

h1, h2, h3 {
  font-family: var(--titulo);
  text-align: center;
  width: 100%;
}

p, span {
  font-family: var(--texto);
  font-size: 20px;
}

/*---------HEADER ---------*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-principal);
  position:relative;
}
.logo {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}

.menuPrincipal {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.menuPrincipal ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.menuPrincipal ul li {
  list-style-type: none;
}

.menuPrincipal .menuCambiante {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuCambiante .inicioRegistro {
  width: 100%;
  height: 100%;
   display: flex;
   justify-content: space-around;
}

.menuPrincipal .toggleMenu {
  display: none;
}

 .toggleUsuario {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 20px;
}

.menuUsuarioCtn {
  position: absolute;
  top:50px;
  right: 0;
  height: auto;
  width: 250px;
  background-color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  padding: 20px;
  z-index: 10000;
  display: none;
}

.nombreUsuario {
  text-align: center;
}
.menuUsuario {
  padding:20px;
}
.menuUsuario li {
  list-style-type: none;
  height: 50px;
}

.menuUsuarioCtn a {
  color: var(--color-principal)
}

.toggleUsuario img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.datosUsuario

/*-------INICIO---------*/

.presentacionInicio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.parrafo1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parrafo1 .imagenParrafo {
  width: 100%;
  height: auto;
}

.parrafo1 .textoParrafo {
  padding: 20px;
}

.parrafo2 {
  position:relative;
  width: 100%;
  height: auto;
  background-image: url('../images/food-g2fd3e517f_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.parrafo2 h2 {
  height: 30px;
  margin: 10px;
}

.parrafo2 .textoParrafo {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.parrafo2:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.5);
}

.parrafo2 > * {
  color:#fff;
}

.menuUsuarioCtn .fotoPerfil  {
width: 100px;
height: 100px;
}

.fotoPerfil img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.nombreUsuario {
  color: var(--color-claro);
  font-size: 15px;
  text-transform: uppercase;
}

.avatarUsuario {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.avatarUsuario img {
  width: 100%;
  height: auto;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 320px;
  height: 200px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContainer > * {
  width: 100%;
  text-align: center;
}

.modalBotonesContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*RECETAS*/
.todasLasRecetas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.contenedorReceta {
  width: 100%;
height: auto;
}

.contenedorReceta a{
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.contenedorReceta .contenedorImagen {
  width: 300px;
  height: auto;
}

.contenedorReceta .contenedorImagen img {
  width: 100%;
  height: auto;
}

.usuarioContenedor div {
  width: 50px;
  height: 50px;
}

.usuarioContenedor div img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/*VISTA DETALLADA*/

.vistaDetallada .botonVolver {
  height: 25px;
  padding: 10px 15px;
  border-radius: 2px;
  margin-left: 15px;
  background-color: var(--color-principal);
  color: var(--color-oscuro)
}

.vistaDetallada .detalleUsuario {
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: flex-start;
padding: 50px;
}

.detalleUsuario .imagenUsuario {
  width: 50px;
  height: 50px;
}

.imagenUsuario img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/*Recetas Usuario*/

.recetasUsuario .recetasContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.recetasContainer .receta div {
  width: 300px;
  height: auto;
}

.receta div img {
  width: 100%;
  height: auto;
}

@media screen  and (max-width: 800px){
  p {
    font-size: 16px;
  }

  a {
    color: var(--color-principal)
  }
  .parrafo1 {
    flex-direction: column;
  }

  .toggleUsuario {
    display: none;
  }

  .menuPrincipal li, .menuPrincipal a {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuPrincipal {
    flex-direction: column;
    position: absolute;
    background-color: var(--color-secundario);
    top: 100px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    align-items: center;
    justify-content: space-evenly;
  }

  .menuPrincipal ul {
    width: 100%;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
  
  .menuPrincipal .menuCambiante {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  .menuCambiante .inicioRegistro {
    width: 100%;
    height: 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.toggleMenu {
  display: block;
  position: absolute;
  right: 20px;
  width: 40px;
  height: auto;
}

.toggleMenu span {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: var(--color-claro);
}

.menuCambiante .menuUsuarioCtn {
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  top: 0;
}

.menuUsuarioCtn .datosUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

}

/*GLOBAL*/

.invisible {
  display: none;
}