:root {
  --titulo: 'Poppins', sans-serif;
  --texto: 'Josefin Sans', sans-serif;
  --menu: 'Montserrat', sans-serif;
  --color-principal: #ff5b44;
  --color-secundario: #ffba47;
  --color-oscuro: #0b0803;
  --color-claro: #fff;
}

/*
#ff5b44
#ffba47
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-secundario);
  text-decoration: none;
  font-family: var(--menu);
}

main {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.imagenParrafo img {
  width:100%;
  height: auto;
}

h1, h2, h3 {
  font-family: var(--titulo);
  text-align: center;
  width: 100%;
}

p, span {
  font-family: var(--texto);
  font-size: 20px;
}

/*-------INICIO---------*/

.presentacionInicio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.parrafo1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parrafo1 .imagenParrafo {
  width: 100%;
  height: auto;
}

.parrafo1 .textoParrafo {
  padding: 20px;
}

.parrafo2 {
  position:relative;
  width: 100%;
  height: auto;
  background-image: url('../images/food-g2fd3e517f_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.parrafo2 h2 {
  height: 30px;
  margin: 10px;
}

.parrafo2 .textoParrafo {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.parrafo2:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.5);
}

.parrafo2 > * {
  color:#fff;
}

.menuUsuarioCtn .fotoPerfil  {
width: 100px;
height: 100px;
}

.fotoPerfil img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.nombreUsuario {
  color: var(--color-claro);
  font-size: 15px;
  text-transform: uppercase;
}

.avatarUsuario {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.avatarUsuario img {
  width: 100%;
  height: auto;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 320px;
  height: 200px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContainer > * {
  width: 100%;
  text-align: center;
}

.modalBotonesContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*RECETAS*/
.todasLasRecetas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.contenedorReceta {
  width: 100%;
height: auto;
}

.contenedorReceta a{
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.contenedorReceta .contenedorImagen {
  width: 300px;
  height: auto;
}

.contenedorReceta .contenedorImagen img {
  width: 100%;
  height: auto;
}

.usuarioContenedor div {
  width: 50px;
  height: 50px;
}

.usuarioContenedor div img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/*VISTA DETALLADA*/

main.vistaDetallada {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    height: auto;
}

main.vistaDetallada .botonVolver {
    height: auto;
    width: 100px;
    padding: 10px 15px;
    border-radius: 2px;
    text-align: center;
    background-color: var(--color-principal);
    color: var(--color-oscuro);
}

.vistaDetallada .detalleUsuario {
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: flex-start;
}

.detalleUsuario .imagenUsuario {
  width: 50px;
  height: 50px;
}

.imagenUsuario img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

section.vistaDetallada {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}

.pasosReceta p {
  width: 100%;
  white-space: pre-wrap;
}

.contenedorCategorias h3 {
  padding: 20px;
}

.contenedorCategorias ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.contenedorCategorias ul li {
    list-style-type: none;
    width: auto;
    height: auto;
    padding: 10px 15px;
    background-color: var(--color-secundario);
    color: var(--color-claro);
    font-family: var(--texto);
    border-radius: 5px;
}
/*Recetas Usuario*/

.recetasUsuario .recetasContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.recetasContainer .receta div {
  width: 300px;
  height: auto;
}

.receta div img {
  width: 100%;
  height: auto;
}

/*GLOBAL*/

.invisible {
  display: none;
}