body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.menuUsuarioCtn .fotoPerfil  {
width: 200px;
height: auto;

}

.fotoPerfil img {
  width: 100px;
  height: auto;
}

.avatarUsuario {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.avatarUsuario img {
  width: 100%;
  height: auto;
}

.invisible {
  display: none;
}