<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    <main class="mainInicio">
      <h1>Secretos Culinarios</h1>
      <section class="presentacionInicio">
        <article class="parrafo1">
          <div class="imagenParrafo"><img src="/images/olive-oil-g768e4a374_1280.jpg" alt="aceite de oliva"></div>
          <div class="textoParrafo">
            <p>¡Bienvenido/a a Secretos Culinarios!</p>

            <p>Descubre, comparte y disfruta de las mejores recetas en un solo lugar. Nuestra plataforma está diseñada para que puedas explorar una amplia variedad de recetas, desde platos tradicionales hasta creaciones culinarias únicas.</p>
          </div>
         
        </article>

        <article class="parrafo2">
          <h2>Crea, explora, comparte.</h2>
          <div class="textoParrafo">
            <p>¿Eres un amante de la cocina? Regístrate y únete a nuestra comunidad de apasionados cocineros y aficionados a la gastronomía. Comparte tus propias recetas, muestra tus habilidades culinarias y conecta con otros entusiastas de la cocina.</p>

            <p>En secretos culinarios, creemos que la cocina es una forma de arte y expresión. Explora nuestras categorías, encuentra inspiración y crea tus propias obras maestras gastronómicas. ¡Las posibilidades son infinitas!</p>

            <p>Además, podrás descubrir delicias creadas por otras personas, explorar nuevas técnicas culinarias y aprender de las experiencias de la comunidad. Comparte tus propias creaciones con los demás y recibe el reconocimiento que mereces por tu talento en la cocina.</p>
          </div>
        </article>
      </section>
    </main>
    <%- include('./shared/footer')%>
  </body>
</html>
