<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    <h1>Secretos Culinarios</h1>
    <p>Bienvenido</p>
    <%- include('./shared/footer')%>
  </body>
</html>
