<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    
    <main>
<h1>Iniciar sesi칩n</h1>
      <form action="/login" method="post" novalidate>
        <label for="emailUsuario">Email:</label>
        <input type="text" name="emailUsuario">

        <label for="contrase침aUsuario">Contrase침a:</label>
        <input type="password" name="contrase침aUsuario">

        <input type="submit" value="Entrar">
      </form>
    </main>
    <%- include('./shared/footer')%>
  </body>
</html>
