<header>
  <div class="logo">
    <img src="" alt="">
  </div>
  <nav class="menuPrincipal">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/recetas">Recetas</a></li>
    </ul>
  </nav>
<div class="menuCambiante">
  <section class="inicioRegistro">
    <a href="#" class="iniciarSesionBtn">Iniciar Sesión</a>
    <a href="#" class="registrarseBtn">Registrarse</a>
  </section>

  <section class="menuUsuarioCtn">
    <div class="datosUsuario">
      <div class="fotoPerfil">
        <img src="" alt="">
      </div>
      <h3 class="nombreUsuario">usuario</h3>
    </div>

    <nav class="menuUsuario">
      <li><a href="">Perfil</a></li>
      <li><a href="">Mis Recetas</a></li>
      <li><a href="">Favoritos</a></li>
      <li><button>Cerrar Sesión</button></li>
    </nav>
  </section>

</header>