<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- nombrePag %> - Secretos Culinarios</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/media.css">
  <link rel="stylesheet" href="/stylesheets/shared.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  <script defer src="/javascripts/app.js"></script>
</script>
</head>
